body {
  margin: 0;
  font-family: Calibre, "San Francisco", "SF Pro Text", -apple-system, system-ui,
    BlinkMacSystemFont, Roboto, "Helvetica Neue", "Segoe UI", Arial, sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
@font-face {
  font-family: "Calibre";
  src: local("Calibre"), url(./fonts/Calibre/Calibre-Light.ttf);
}
@font-face {
  font-family: "SFMono";
  src: local("SFMono"), url(./fonts/SFMono/SFMono-Medium.ttf);
}
